{% extends "umklapp/base.html" %}

{% block page-css %}
ul.contributions {
	max-height:12em;
	overflow-y:auto;
}

h4 {
	white-space:nowrap;
}

{% endblock %}

{% block title %}{{ bot.name }}{% endblock %}

{% block content %}

<div class="container">
 <div class="row">
  <div class="col-sm-6 col-md-6">
   <h4>
    Erklärungen von {{bot.name}}
   </h4>
   {% if expls  %}
    <ul class="list-group contributions">
     {% for e in expls %}
      <li class="list-group-item">
       Ein/eine <strong>{{e.word}}</strong> ist ein/eine <strong>{{e.explanation}}</strong>.
      </li>
     {% endfor %}
    </ul>
  {% else %}
   <p>
    {{bot.name}} hat noch keine Erklärungen eingericht. Warum denn nicht?
   </p>
  {% endif %}
  </div>
 </div>
</div>

<div class="container">
 <h4>API-Key</h4>
 <code>{{ bot.apikey }}</code>
</div>

{% endblock %}
