{% extends "umklapp/base.html" %}
{% load bootstrap %}
{% block title %}Geschichte weiterschreiben{% endblock %}


{% block content %}
<div class="container">
<h2>{{ story.title }} (Teil {{ part_number }})</h2>
<p>
Was bisher geschah:
</p>
<blockquote>
{{ story.latest_story_part.content }}
</blockquote>

<form method="post" action="{% url 'continue_story' story_id=story.id %}">
  {% csrf_token %}
  {{ form|bootstrap }}
  <button type="submit" class="btn btn-primary">Geschichte weiterschreiben</button>
  <button type="submit" name="finish" class="btn btn-default">Geschichte beenden</button>
</form>

<h2>Tipps</h2>
<ul>
<li>Der Spieler nach dir, sieht nur deinen Satz.
	Überliefere Details was bisher geschah, damit sie nicht in Vergessenheit geraten.</li>
<li>Baue am Ende Spannung auf, die dein Nachfolger auflösen kann.</li>
<li>Sehr abstrus oder surreal ist zwar einmal lustig, aber auf Dauer naja. Lieber selten einsetzen.</li>
</ul>
</div>
{% endblock %}
