{% extends "umklapp/base.html" %}
{% load bootstrap %}
{% block title %}Geschichte weiterschreiben{% endblock %}


{% block content %}
<div class="container">
<h2>{{ story.title }} (Teil {{ part_number }})</h2>
<p>
Was bisher geschah:
</p>
<blockquote>
{{ story.latest_story_part.content }}
</blockquote>

<form method="post" action="">
  {% csrf_token %}
  {{ form|bootstrap }}
  <button type="submit" class="btn btn-primary">Geschichte weiterschreiben</button>
  <button type="submit" name="finish" class="btn btn-default">Geschichte beenden</button>
</form>
</div>
{% endblock %}
