{% extends "umklapp/base.html" %}

{% block page-css %}
ul.contributions {
	max-height:12em;
	overflow-y:auto;
}

h4 {
	white-space:nowrap;
}

{% endblock %}

{% block title %}Willkommen{% endblock %}

{% block content %}

{% comment %}
<div class="container">
<p>Willkommen zum Programmierspiel der GPN’14.
Wir spielen mit {{ n_words }} {{ n_words | pluralize:"Wort,Wörtern" }} und {{ n_explanations }} Erklärung{{ n_explanations|pluralize:"en"}}.</p>
</div>
{% endcomment %}

{% if user.is_authenticated %}
<div class="container">
 <div class="row">
  <div class="col-sm-6 col-md-2">
   <h4>
    Deine Wörter
    <a class="btn btn-default btn-xs" href="{% url 'submit' %}">
     <span class="glyphicon glyphicon-plus"></span>
    </a>
   </h4>
   {% if words %}
    <ul class="list-group contributions">
     {% for w in words %}
      <li class="list-group-item">
       {{w}}
      </li>
     {% endfor %}
    </ul>
  {% else %}
   <p>
    Du hast noch keine Wörter eingericht.
    <a href="{% url 'submit' %}">Ändere das doch!</a>
   </p>
  {% endif %}
  </div>

  <div class="col-sm-6 col-md-6">
   <h4>
    Deine Erklärungen
    <a class="btn btn-default btn-xs" href="{% url 'explain' %}">
     <span class="glyphicon glyphicon-plus"></span>
    </a>
   </h4>
   {% if expls  %}
    <ul class="list-group contributions">
     {% for e in expls %}
      <li class="list-group-item">
       Ein/eine <strong>{{e.word}}</strong> ist ein/eine <strong>{{e.explanation}}</strong>.
      </li>
     {% endfor %}
    </ul>
  {% else %}
   <p>
    Du hast noch keine Erklärungen eingericht.
    <a href="{% url 'explain' %}">Ändere das doch!</a>
   </p>
  {% endif %}
  </div>

  <div class="clearfix visible-sm"></div>

  <div class="col-sm-6 col-md-2">
   <h4>
    Deine Spiele
    <a class="btn btn-default btn-xs" href="{% url 'new_guess' %}">
     <span class="glyphicon glyphicon-plus"></span>
    </a>
   </h4>
   {% if gamerounds %}
    <ul class="list-group contributions">
     {% for g in gamerounds %}
      <li class="list-group-item">
       <a href="{% url "view_guess" g.pk %}">{{g.word}}</a>
      </li>
     {% endfor %}
    </ul>
  {% else %}
   <p>
    Du hast noch keine Rate-Runden gespielt.
    <a href="{% url 'new_guess' %}">Mach das doch jetzt!</a>
   </p>
  {% endif %}
  </div>

  <div class="col-sm-6 col-md-2">
   <h4>
    Deine Bots
    <a class="btn btn-default btn-xs" href="{% url 'new_bot' %}">
     <span class="glyphicon glyphicon-plus"></span>
    </a>
   </h4>
   {% if bots %}
    <ul class="list-group">
     {% for b in bots %}
      <li class="list-group-item">
       <a href="{% url "view_bot" b.pk %}">{{b.name}}</a>
      </li>
     {% endfor %}
    </ul>
   {% else %}
    <p>
     Du hast noch keinen Bot angelegt.
     <a href="{% url 'new_bot' %}">Mach das doch jetzt!</a>
    </p>
   {% endif %}
  </div>

 </div>
</div>
{% else %}
<div class="container">
 <div class="jumbotron">
  <h1>Willkommen!</h1>
  <div class="row">
   <div class="col-sm-6">
    <h2>Was ist No-Bot-Is-Perfect?</h2>
    <p>Lorem ipsum...</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="{% url "registration_register" %}">Ja, ich will mitspielen!</a></p>
   </div>
   <div class="col-sm-4">
    <h2>Schon dabei?</h2>
    <form class="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
     {% csrf_token %}
     <div class="form-group">
      <label class="sr-only" for="id_username">Benutzername</label>
      <input type="text" class="form-control" name="username" id="id_username" maxlength="254" placeholder="Benutzername"/>
     </div>
     <div class="form-group">
      <label class="sr-only" for="id_password">Passwort</label>
      <input type="password" class="form-control" name="password" id="id_password" placeholder="Passwort" />
     </div>
     <input type="hidden" name="next" value="{{ next }}" />
     <button type="submit" class="btn btn-default">Einloggen</button>
     <a class="text-muted" href="{% url "password_reset" %}">Passwort vergessen?</a>
    </form>
   </div>
  </div>
 </div>
</div>
{% endif %}

{% endblock %}
