{% extends "umklapp/base.html" %}
{% load bootstrap %}
{% block title %}Neue Geschichte starten{% endblock %}

{% block content %}
<meta http-equiv="refresh" content="10">
<div class="container">
<h2>Willst Du eine neue Geschichte starten?</h2>
<a href="{% url 'new_story' %}">Neue Geschichte starten</a><p/>
<h2>Laufende Geschichten</h2>
{% if running_stories %}
  <ul>
	  {% for s in running_stories %}
	    <li>
			„{{ s.title }}“:
			{% if s.waiting_for = user %}
			  <a href="{% url 'continue_story' story_id=s.id %}">fortsetzen</a>
			{% else %}
			  wartet auf {{ s.waiting_for }}...
			{% endif  %}
	     </li>
	  {% endfor %}
  </ul>
{% else %}
<p>Es gibt gerade keine laufenden Geschichten.</p>
{% endif %}
<h2>Beendete Geschichten </h2>
{% if finished_stories %}
  <ul>
	  {% for s in finished_stories %}
	    <li>„{{ s.title }}“: <a href="{% url 'show_story' story_id=s.id %}">lesen</a></li>
	  {% endfor %}
  </ul>
{% else %}
<p>Es gibt gerade keine fertigen Geschichten.</p>
{% endif %}
</div>
{% endblock %}
