{% extends "umklapp/base.html" %}
{% load bootstrap %}
{% block title %}Das Umklappspiel - Mein Profil{% endblock %}

{% block content %}
<div class="container">


<h2>Statistiken</h2>

<table class="table">
 <tbody>
  <tr>
   <th class="text-left">Sätze geschrieben</th>
   <td>{{ sentences_written }}</td>
  </tr>
  <tr>
   <th class="text-left">Geschichten miterzählt</th>
   <td>{{ participated_in }}</td>
  </tr>
  <tr>
   <th class="text-left">Geschichten gestartet</th>
   <td>{{ stories_started }}</td>
  </tr>
 </tbody>
</table>

<h2>Meine lustigsten Sätze</h2>

{% for sp in funny_parts %}
<p class="funny">{{ sp.content }} <span class="meta">{{ sp.upvotes__count }} 😂  in <a href="{% url 'show_story' story_id=sp.teller.corresponding_story.id %}">{{ sp.teller.corresponding_story.title }}</a></span></p>
{% empty %}
Du hast noch keine Upvotes für deine Sätze bekommen.
{% endfor %}

<h2>Persönliche Daten</h2>

<div class="actions">
  <form style="display:inline" method="post" action="{% url 'update_profile' %}">
    {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-default">Daten ändern</button>
  </form>

  <p>oder</p>

  <p>
  <a href="{% url 'password_change' %}" class="btn btn-default">Passwort ändern</a>
  <a href="{% url 'auth_logout' %}" class="btn btn-default">Abmelden</a>
  </p>
</div>



</div>


{% endblock %}

