{% extends request.is_ajax|yesno:"umklapp/base_ajax.html,umklapp/base.html" %}
{% load bootstrap %}
{% block title %}Story anschauen{% endblock %}

{% block content %}
<div class="container">
<h2>
  {{ story.title }}
</h2>
{% if story.rules %}
<p>(Zusätzliche Regeln: {{ story.rules }})</p>
{% endif %}

<div>
  &mdash; von {{ story.started_by }} und {{ story.numberOfContributors|add:-1 }} weiteren Erzählern.
  {% if user.is_authenticated %}
    {% if has_upvoted %}
      <form style="display:inline" method="post" action="{% url 'downvote_story' story_id=story.id %}">
       {% csrf_token %}
       <button title="Downvote / UnLike" class="no-expand btn btn-default btn-xs btn-success">
        {{ upvote_count }}&nbsp;<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
       </button>
       </form>
    {% else %}
      <form style="display:inline" method="post" action="{% url 'upvote_story' story_id=story.id %}">
       {% csrf_token %}
       <button title="Upvote / Like" class="no-expand btn btn-default btn-xs">
        {{ upvote_count }}&nbsp;<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
       </button>
       </form>
    {% endif %}
  {% else %}
       <span title="Zum Abstimmen bitte einloggen!">{{ upvote_count }}&nbsp;<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
  {% endif %}
  {% if story.is_public %}
    Auf
    <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri|urlencode}}">Facebook</a>
    oder
    <a href="https://twitter.com/share?url={{request.build_absolute_uri|urlencode}}&text=Coole Umklappspielgeschichte „{{story.title|urlencode}}“">Twitter</a> teilen.
  {% endif %}
</div>

{% for p in story.parts %}
  <p class="sentence" >
    {{ p.content }}
    <small class="text-muted">–
	  {% if user.is_authenticated %}
         {% if user in p.upvotes.all %}
           <button title="Downvote / Unlike" class="no-expand btn btn-default btn-xs btn-success" onclick="$.post('{% url 'downvote_storypart' storypart_id=p.id %}', { csrfmiddlewaretoken: '{{ csrf_token }}' }, function(data) { $('#content').html(data); if ($('#settitle')) { $('#settitle').remove(); } });">
         {% else %}
           <button title="Upvote / Like" class="no-expand btn btn-default btn-xs" onclick="$.post('{% url 'upvote_storypart' storypart_id=p.id %}', { csrfmiddlewaretoken: '{{ csrf_token }}' }, function(data) { $('#content').html(data); if ($('#settitle')) { $('#settitle').remove(); } });">
         {% endif %}
           {{ p.upvotes.count }}&nbsp;😂
         </button>
	  {% else %}
           <span title="Zum Abstimmen bitte einloggen!">{{ p.upvotes.count }}&nbsp;😂</span>
	  {% endif %}
      {% if not anonymized %}&nbsp;{{p.teller.user}}{% endif %}
    </small>
  </p>
{% endfor %}

<div class="actions">
  {% if story.is_finished %}
  {% endif %}

  {% if story.started_by == user %}
    {% if not story.is_public %}
     <form style="display:inline" method="post" action="{% url 'publish_story' story_id=story.id %}">
      {% csrf_token %}
      <button title="Erlaube allen die Geschichte zu sehen" class="btn btn-default btn-sm">Geschichte öffentlich sichtbar machen</button>
     </form>
    {% else %}
     <form style="display:inline" method="post" action="{% url 'unpublish_story' story_id=story.id %}">
      {% csrf_token %}
      <button title="Erlaube doch NICHT allen die Geschichte zu sehen" class="btn btn-default btn-sm">Geschichte nur den Erzählern sichtbar machen</button>
     </form>
    {% endif %}
  {% endif %}


</div>

</div>
{% endblock %}
