{% extends "umklapp/base.html" %}
{% load bootstrap %}
{% block title %}Story anschauen{% endblock %}

{% block content %}
<div class="container">
<h2>
  {{ story.title }}
</h2>

<p>von {{ story.started_by }} und {{ story.tellers.count|add:-1 }} weiteren Erzählern.
{% if upvote_count %}
<large>{{upvote_count}}&nbsp;<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></large>
{% endif %}
</p>

{% for p in story.parts %}
  <p class="sentence" {% if not anonymized %} title="{{p.teller.user}}" {% endif %}>
  {{ p.content }}
  </p>
{% endfor %}

<div class="actions">
  {% if story.is_finished %}
    {% if has_upvoted %}
       <form style="display:inline" method="post" action="{% url 'downvote_story' story_id=story.id %}">
        {% csrf_token %}
        <button title="Downvote / UnLike" class="btn btn-default btn-sm">Leseempfehlung zurücknehmen</button>
       </form>
    {% else %}
     <form style="display:inline" method="post" action="{% url 'upvote_story' story_id=story.id %}">
      {% csrf_token %}
      <button title="Upvote / Like" class="btn btn-primary btn-sm">Tolle Geschichte! Leseempfehlung!</button>
      </form>
    {% endif %}
  {% endif %}

  {% if story.started_by = user %}
    {% if not story.is_public %}
     <form style="display:inline" method="post" action="{% url 'publish_story' story_id=story.id %}">
      {% csrf_token %}
      <button title="Erlaube allen die Geschichte zu sehen" class="btn btn-default btn-sm">Geschichte öffentlich sichtbar machen</button>
     </form>
    {% else %}
     <form style="display:inline" method="post" action="{% url 'unpublish_story' story_id=story.id %}">
      {% csrf_token %}
      <button title="Erlaube doch NICHT allen die Geschichte zu sehen" class="btn btn-default btn-sm">Geschichte nur den Erzählern sichtbar machen</button>
     </form>
    {% endif %}
  {% endif %}


</div>

</div>
{% endblock %}
