{% extends "umklapp/base.html" %}
{% load bootstrap %}
{% block title %}Story anschauen{% endblock %}

{% block content %}
<div class="container">
<h2>{{ story.title }}</h2>

<p>
{% for p in story.parts %}
  {% if anonymized %}
    <span class="sentence">{{ p.content }}</span>
  {% else %}
    <span  class="sentence" title="{{p.teller.user}}">{{ p.content }}</span>
  {% endif %}
  {% if not forloop.last %}•{% endif %}
{% endfor %}
</p>

{% if story.started_by = user %}
  {% if not story.is_public %}
   <form style="display:inline" method="post" action="{% url 'publish_story' story_id=story.id %}">
    {% csrf_token %}
    <button title="Erlaube allen die Geschichte zu sehen" class="btn btn-default btn-sm">Geschichte öffentlich sichbar machen</a>
   </form>
  {% else %}
   <form style="display:inline" method="post" action="{% url 'unpublish_story' story_id=story.id %}">
    {% csrf_token %}
    <button title="Erlaube doch NICHT allen die Geschichte zu sehen" class="btn btn-default btn-sm">Geschichte nur den Erzählern sichbar machen</a>
   </form>
  {% endif %}
{% endif %}
</div>
{% endblock %}
