{% extends "umklapp/base.html" %}

{% block title %}Statistiken{% endblock %}

{% block content %}
<div class="container">
<h2>Statistiken <small>für {{user}}</small></h2>
<ul>
{% for k, v in user.stats.attrs %}
<li>{{k}}: {{v}}</li>
{% endfor %}
</ul>
</div>

<div class="container">
<h2>Sonstiges</h2>
<a href="{% url 'auth_logout' %}">Abmelden</a> &bull;
<a href="{% url 'password_change' %}">Passwort ändern</a>
</div>

<div class="container">
<h2>Quellenangaben</h2>
Das Logo mit dem Roboterkopf ist eine Bearbeitung der Photographie „<a href="http://flickr.com/photos/32366606@N00/6265028633">Maria from the film Metropolis, on display at the Robot Hall of Fame</a>“ von Jiuguang Wang (CC by-sa).
</div>
{% endblock %}
