{% extends "umklapp/base.html" %}

{% load bootstrap %}

{% block title %}Neues Wort einreichen{% endblock %}

{% block content %}

<div class="container">
<form class="form-horizontal" role="form" method="POST">
{% csrf_token %}

    {{ form.non_field_errors }}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

 <div class="row">
  <div class="form-group">
   <div class="form-inline col-sm-8 col-sm-offset-2 ">
    Ein/eine
    <input class="form-control" id="id_lemma" name="{{ form.lemma.html_name }}" type="text" placeholder="&lt;Substantiv&gt;"/>
    {{ form.lemma.errors }}
    ist ein/eine
    <input class="form-control" id="id_explanation" name="{{ form.correct_explanation.name }}" type="text" placeholder="&lt;Adjektiv&gt; &lt;Substantiv&gt;"/>
    {{ form.correct_explanation.errors }}
   </div>
  </div>
 </div>

 <div class="row">
  <div class="form-group">
   <div class="form-inline col-sm-8 col-sm-offset-2 ">
    und mehr dazu findet man (optional) auf
    <input class="form-control" id="id_reference"  name="{{ form.reference.html_name }}" type="text" placeholder="http://"/>
    {{ form.reference.errors }}
  </div>
  </div>
 </div>

 <div class="row">
  <div class="form-group">
   <div class="col-sm-8 col-sm-offset-2">
    <input class="btn btn-default" type="submit" value="Wort einreichen" />
   </div>
  </div>
 </div>

</form>
</div>

{% endblock %}
