{% extends "umklapp/base.html" %}
{% load staticfiles %}

{% block title %}Was ist richtig?{% endblock %}

{% block content %}

<div class="container">
 <h2><small>Ein/eine</small> <b>{{ word.lemma }}</b> <small>...</small></h2>
 <p>
   ...ist also ein/eine <b>{{ word.clean_explanation }}</b>.
   <a href="{{ word.link }}">Zweifel?</a>
 </p>

 <div class="container-fluid form-group">
  <div class="row">
   {% for e in explanations %}
    <div class="col-md-4 col-sm-6">
     <div class="panel panel-default answer-panel">
      <table>
       <tr>
	<td rowspan="2" style="white-space:nowrap">
	 {% if e.guess == e.actual %}
	  <img class="answer-icon" src="{% static "icon-" %}{{e.guess}}.png" data-answer="{{answer}}" alt="Antwort {{answer}}"/>
	 {% else %}
	  <img class="answer-icon" src="{% static "icon-" %}{{e.guess}}-wrong.png" data-answer="{{answer}}" alt="Antwort {{answer}}"/>
	  <img class="answer-icon" src="{% static "icon-" %}{{e.actual}}.png" data-answer="{{answer}}" alt="Antwort {{answer}}"/>
	 {% endif %}
	</td>
	<td>{{ e.text }}</td>
       </tr>
       <tr>
	<td class="small" style="font-style: italic">{{ e.author }}</td>
       </tr>
      </table>
     </div>
    </div>

   {% if forloop.counter|divisibleby:"3" %}
    <div class="clearfix visible-md"></div>
   {% endif %}
   {% if forloop.counter|divisibleby:"2" %}
    <div class="clearfix visible-sm"></div>
   {% endif %}
   {% endfor %}
   <div class="col-sm-6 col-md-4 text-center">
    <a href="{% url "new_guess" %}" class="btn btn-default">Nochmal spielen</a>
   </div>
  </div>
 </div>

</div>

{% endblock %}
